.navbar-brand {
  img {
    height: 40px;
    @include media-breakpoint-up(md) {
      height: 72px;
    }
  }
}

.site_layout_navbar {
  @include media-breakpoint-up(md) {
    // height: 72px;
    padding: 24px 80px 24px 80px;
  }
}
.site_footer_top{
  img{
    height: 84px;
    object-fit: cover;
  }
  @include media-breakpoint-up(md) {
    img{
    height: 188px;
  }
  }
}
.site_footer {
  padding: 80px 12px;
   
  
  @include media-breakpoint-up(md) {
    // height: 72px;
    padding: 40px 312px 120px 312px;
    p {
      line-height: 30px;
    }
  }
}
