.user_center_banner {
  height: 384px;
  margin-top: 120px;
  padding: 120px;
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/typescript-hotel/%E6%A1%8C%E6%A9%9F%E7%89%88/hero.png?raw=true');
  background-size: cover;
  // z-index: -1;
  // overflow: hidden;
}

.user_center_menu {
  .nav-link {
    color: white;
  }
  .active {
    color: #bf9d7d;
    position: relative;
  }
  .active::after {
    position: absolute;
    content: ' ';
    width: 32px;
    height: 4px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    background-color: #bf9d7d;
  }
}


.content_left{
    // width: 40%;
    width: 527px;
}

.content_right{
    width: 730px;
    // width: 50%;
}