// 顏色變數
$primary: #BF9D7D;
$primaryDark:#7B6651;
  

// $secondary: #5ECC4C;
$secondary: #7B6651;
$black:#140F0A; //bg

$light: #efefef ;// #ececec; 
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$dark: #555;   //用於文字



// 新增的顏色
$lightPrimary : #BF9D7D;

$lightSecondary: #ADE1A4;
// $primaryDark: #251E33;
// $primaryLight: #3e2e5f;

$white: white;

$gray: #555; 

$disable: #999;



//theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  //自定義名稱主題
  "lightPrimary": $lightPrimary,
  "lightSecondary": $lightSecondary,
  "black":$black,
  // "primaryDark": $primaryDark,
  // "primaryLight": $primaryLight,
  "gray":$gray,

  "white":$white,
);


//font-size
$font-sizes: (
  1: 48px,
  2: 40px,
  3: 32px,
  4: 28px,
  5: 24px,
  6: 20px,
  7: 16px,
  8: 14px,
  9: 10px,
) !default;

// $spacer: 1rem !default;
$spacers: (
  0: 0,
  1: 4px, //
  2: 8px,  //8px
  3: 16px, // 16px
  4: 20px, //24px
  5: 24px, //48px
  6: 30px, //56px
  7: 40px,
  8:  80px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px,
  xxl: 1140px
);
