// 顏色變數
$primary: #bf9d7d;
$primaryDark: #7b6651;
// $secondary: #5ECC4C;
$secondary: #7b6651;
$black: #140f0a; //bg

$light: #efefef; // #ececec;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$dark: #555; //用於文字

// 新增的顏色
$lightPrimary: #bf9d7d;
$lightSecondary: #ade1a4;
// $primaryDark: #251E33;
// $primaryLight: #3e2e5f;

$white: white;
$gray: #909090;
$disable: #999;

//theme-colors-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  //自定義名稱主題
  'lightPrimary': $lightPrimary,
  'lightSecondary': $lightSecondary,
  'black': $black,
  // "primaryDark": $primaryDark,
  // "primaryLight": $primaryLight,
  'gray': $gray,

  'white': $white
);

//font-size
$font-sizes: (
  1: 48px,
  2: 40px,
  3: 32px,
  4: 28px,
  5: 24px,
  6: 20px,
  7: 16px,
  8: 14px,
  9: 10px
) !default;

$spacers: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 20px,
  5: 24px,
  6: 30px,
  7: 40px,
  8: 80px,
  10: 100px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1024px,
  xxl: 1140px
);



// $btn-hover-color: #fff;
// $btn-hover-bg: #0056b3;
// $btn-hover-border: #004080;